:root {
  /* COLOR VARIABLES */
  --color-brown-1: #672819;
  --color-brown-2: #B1786B;
  --color-brown-3: #E2C9C4;
  --color-brown-4: #F8F2F1;
  --color-pink-1: #D58AA2;
  --color-pink-2: #EBBECF;
  --color-white: #fff;
  --color-black: #000;

  /* SPACING VARIABLES */

  /* ELEMENT SPACING */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* SCREEN SPACING */
  --padding-screen-sm: 10rem;
  --padding-screen-md: 14rem;
  --padding-screen-lg: 19rem;
  --padding-screen-xl: 24rem;
  --padding-screen-xxl: 28rem;

  /* MISC VARIABLES */
  --border-radius: 15px;
  --border-radius-round: 50%;
  --box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
  --transition: 150ms;

  /* MEDIA QUERY BREAKPOINTS */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* TEXT VARIABLES */

  --txt-sm: 0.5rem;
  --txt-md: 1rem;
  --txt-lg: 2rem;
  --txt-xl: 4rem;
  --txt-xxl: 6rem;
  --txt-xxxl: 10rem;

  /* CARD SIZING */
  --card-width-sm: 100px;
  --card-width-md: 200px;
  --card-width-lg: 300px;
  --card-width-xl: 400px;

  --card-height-sm: 200px;
  --card-height-md: 350px;
  --card-height-lg: 450px;
  --card-height-xl: 550px;
}