:root {

/* LAYOUT */

    /* Navbar variables */
    --primary_navbar_color: ;
    --secondary_navbar_color: ;

/* COMPONENTS */

    /* Button variables */
    --primary_button_color: ;
    --secondary_button_color: ;

    /* Cards variables */
    --primary_home_color: ;
    --secondary_home_color: ;

    /* form variables */
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
    --primary_navbar_color: ;
}