:root {
  /* COLOR VARIABLES */
  --color-brown-1: #672819;
  --color-brown-2: #B1786B;
  --color-brown-3: #E2C9C4;
  --color-brown-4: #F8F2F1;
  --color-pink-1: #D58AA2;
  --color-pink-2: #EBBECF;
  --color-white: #fff;

  /* SPACING VARIABLES */

  /* ELEMENT SPACING */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* SCREEN SPACING */
  --spacing-screen-sm: 10rem;
  --spacing-screen-md: 14rem;
  --spacing-screen-lg: 19rem;

  /* MISC VARIABLES */
  --border-radius: 15px;
  --box-shadow: 10 10px 10px rgba(0,0,0, 0.33);
  --transition: 150ms;

  /* MEDIA QUERY BREAKPOINTS */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}