.section-height-max {
    height: 100%;
}

.banner-map-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner-map-card iframe{
    border-radius: var(--border-radius);
    background-color: var(--color-brown-2);
    padding: 20px;
    margin: 5px;
}

.parallax {
  /* The image used */
  background-image: url("/public/assets/images/img/parallax.png");
  /* Set a specific height */
  min-height: 500px;
  /* Keep these properties */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* Remove background-attachment: fixed */
  /* Add this for better performance */
  will-change: background-position-y;
}

.parallax::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(226, 201, 196, 0.8); /* B1786B with 40% opacity */
  pointer-events: none;
  z-index: 1;
}