/* Button styles */
.btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.25rem;
  margin: 0 0.25rem;
  border-radius: var(--border-radius);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
    svg {
      margin-right: 10px;
  }
}

.btn-primary {
  background-color: var(--color-btn-primary);
  color: white;
}

.btn-navbar {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  background-color:rgba(0, 0, 0, 0) ;
  color: var(--color-primary);
  svg {
    fill: var(--color-btn-primary);
    width: 32px;
    height: 32px;
  }
}

.btn-navbar:hover {
  color: white;
  background-color: var(--color-light-1);
  svg {
    fill: white;
  }
}

.btn-navbar-logo {
  text-decoration: none;
  padding: 0.5rem 1.25rem;
  border-radius: var(--border-radius);
  background-color:rgba(0, 0, 0, 0) ;
  color: var(--color-primary);
  transition: var(--transition);
}

.btn-primary:hover {
  background: var(--color-light-1);
  color: white;
  svg {
    fill: white;
  }
}

.btn-dono {

}

.btn-outline {
  background: transparent;
  border: 1px solid #3490dc;
  color: #3490dc;
}

.btn-outline:hover {
  background: #3490dc;
  color: white;
}

.btn-sm { padding: 0.25rem 0.75rem; font-size: 0.875rem; }
.btn-md { padding: 0.25rem 0.75rem; font-size: 0.875rem; }
.btn-lg { padding: 0.75rem 1.5rem; font-size: 1.125rem; }
