/* Card component */
.card {
  background: rgb(240, 240, 240);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #eaeaea;
}

.card-body {
  padding: 1.5rem;
  text-align: center;
  color : var(--color-brown-2);
}

.card-body h3 {
  color: var(--color-brown-2); 
}

.card-body p {
  color: var(--color-brown-2);
}

.card-footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid #eaeaea;
  background: #f9f9f9;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 2rem;
}