/* Card component */
.card {
  width: var(--card-width-lg);
  height: var(--card-height-lg);
  color: var(--color-brown-4);
}

.card-img img{
  
}

.card-img-round img{
  margin-bottom: var(--spacing-md);
  border-radius: var(--border-radius-round);
  box-shadow: var(--box-shadow);
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title h1{
  font-weight: 300;
  margin: 0;
}

.card-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-subtitle h4{
  font-size: 1.25rem;
  font-weight: 300;
}