.list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-vert {
    align-items: flex-start;
}

.list-space-evenly {
    width: 100%;
    justify-content: space-evenly;
}

.list-headings{
    display: flex;
}