.footer {
    width: 100%;
    height: 250px;
    margin-top: auto;
}

.footer a {
    color: var(--color-white);
}

.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-brown-2);
    padding: 0px 300px;
}

.footer-section-style {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer-left {
    width: 33.33%;
    flex-direction: column;
    align-items: center;

}

.footer-center {
    width: 33.33%;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
}

.footer-right {
    width: 33.33%;
    flex-direction: column;
    justify-content: space-evenly;
}

/*Footer Imagens*/

.footer-imagen{
    max-width: 100px;
    justify-content: center;
    margin: 5px;
}

/*Bottom footer*/
.btmmpage{
    color: var(--color-white);
    background-color: var(--color-pink-1);
    display: flex;
    justify-content: center;
}
