@import 'base/_variables.css';

.navbar {
    width: 100vw;
    height: 70px;
    background-color: var(--color-brown-4);
    padding: 0 var(--padding-screen-lg);
    font-size: 20px;
    font-weight: bold;
    position: sticky;
    top: 0;  
    z-index: 100; 
    box-shadow: var(--box-shadow);
}

.navbar-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navbar-left a {
    text-decoration: none;
    color: var(--color-pink-1);
    padding: 15px 25px;
}

.navbar-left a:hover{
    color: var(--color-white);
    background-color: var(--color-btn-primary);
}


.navbar-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navbar-right a{
    text-decoration: none;
    display: flex;
    align-items: center ;
}

.navbar-right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

#active {
    color: var(--color-pink-1);
    svg {
        fill: var(--color-pink-1);
    }
}

#active:hover {
    color: var(--color-white);
    svg {
        fill: var(--color-white);
    }
}